@using System.Text
@using Blazorise;
@using Microsoft.AspNetCore.Components
@using Classeur.Core.CustomizableStructure
@using DotNetToolbox
@using SwissKnife.Serverless.Pages.TemplatesPage.Types

@inject List<KnownFieldTypeDescription> _fieldTypeDescriptions;

<Modal @ref="_addFieldDialog">
	<ModalContent Centered="true">
		<ModalHeader>
			<ModalTitle>Add field</ModalTitle>
			<CloseButton/>
		</ModalHeader>
		<ModalBody>
			<Field>
				<FieldLabel>Label</FieldLabel>
				<TextEdit @bind-Text="_label"/>
			</Field>
			<Field>
				<FieldLabel>Type</FieldLabel>
				<Select TValue="string" @bind-SelectedValue="_selectedFieldId">
					@foreach (KnownFieldTypeDescription known in _fieldTypeDescriptions)
					{
						<SelectItem Value="known.Id">@known.Name</SelectItem>
					}
				</Select>
			</Field>
			<DynamicComponent @ref="_fieldCreateForm" Type="SelectedField.FormFragmentForCreate" />
		</ModalBody>
		<ModalFooter>
			<Button Color="Color.Primary" Clicked="AddFieldAsync">Add</Button>
		</ModalFooter>
	</ModalContent>
</Modal>

@code {

	private Modal _addFieldDialog = null!;
	private DynamicComponent _fieldCreateForm = null!;

	private string _label = "";

	private IUIFieldType[] _newFields = Array.Empty<IUIFieldType>();

	private string _selectedFieldId = "";

	private IUIFieldType SelectedField => _newFields[_fieldTypeDescriptions.FindIndex(t => t.Id == _selectedFieldId)];

	public Modal Modal => _addFieldDialog;

	private FieldKey FieldKey => FieldKey.For(_label);

	[Parameter]
	public EventCallback<FieldDescription> FieldAdding { get; set; }

	public void ResetLabel() => _label = "";

	protected override void OnInitialized()
	{
		_newFields = _fieldTypeDescriptions.ToArray(t => t.Create());
		_selectedFieldId = _fieldTypeDescriptions.First().Id;
	}

	private async Task AddFieldAsync()
	{
		var formFragment = (IFormFragment<IUIFieldType>)_fieldCreateForm.Instance!;

		await FieldAdding.InvokeAsync(formFragment.Data.GetDescription(FieldKey, _label));
	}

}
