@page "/notes/{NoteId:long}"

@using Blazorise
@using Classeur.Core
@using Classeur.Core.CustomizableStructure
@using SwissKnife.Serverless.Templating

@inject IJSRuntime _js;
@inject NavigationManager _navigator;
@inject IRepository<Template, string> _templatesRepository;
@inject IRepositoryFactory<Note, string> _notesRepositoryFactory;

<PageTitle>@Title</PageTitle>

<h1>@Title</h1>

<Button Disabled="@(!_hasValidChanges)" Clicked="SaveAsync" Color="Color.Primary">Save changes</Button>

<StructuredDataForm TCustomizableDocument="Note" ViewModel="_vm" />

@code {

    private IRepository<Note, string> _repository = null!;
    private StructuredDataViewModel<Note> _vm = null!;
    private bool _hasValidChanges;

    private string Title => $"Note {NoteId}";

    [Parameter]
    public long NoteId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        List<Template> templates = await _templatesRepository.GetAllAsync(CancellationToken.None);
        _repository = _notesRepositoryFactory.GetRepository(templates.Select(t => t.Schema));
        Note note = await _repository.GetAsync(NoteId.ToString(), CancellationToken.None);
        StructureSchema schema = templates.First(t => t.Schema.Id == note.Data.SchemaId).Schema;
        _vm = new StructuredDataViewModel<Note>(note, schema);
        _vm.Changing += UpdateChangesStatus;
    }

    private async Task SaveAsync()
    {
        _vm.Changing -= UpdateChangesStatus;
        _vm = _vm with
        {
            Document = await _repository.UpdateAsync(_vm.GetDocument(), CancellationToken.None),
        };
        _vm.Changing += UpdateChangesStatus;
        _hasValidChanges = false;
    }

    private void UpdateChangesStatus()
    {
        _hasValidChanges = _vm.TryGetDocument(out Note? changed) && !_vm.Document.Equals(changed);
        StateHasChanged();
    }

}
